body {
	margin: 0;
	padding: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #5f9341;
	margin-bottom: 5px;
}

button {
	background: #5f9341;
	color: bisque;
	padding: 10px 20px;
	border: none;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
}

#box {
	cursor: pointer;
	background: lightseagreen;
	padding: 50px;
	width: 200px;
	text-align: center;
	margin: 20px auto;
	color: white;
	font-weight: bold;
}
